---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { PhoneIcon } from "@heroicons/react/24/outline";
import { EnvelopeIcon } from "@heroicons/react/24/solid";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import NetlifyIdentityResolver from "../components/NetlifyIdentityResolver";

const posts = (await getCollection("experience")).sort(
	(a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #about-section {
      }
      #contact-section {
      }
      #education-certifications {
      }

      .section-title {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
      }

      #relevant-experience,
      #sidebar-content {
        background-image: repeating-linear-gradient(
          45deg,
          var(--fallback-b1, oklch(var(--b1))),
          var(--fallback-b1, oklch(var(--b1))) 13px,
          var(--fallback-b2, oklch(var(--b2))) 13px,
          var(--fallback-b2, oklch(var(--b2))) 14px
        );
        background-size: 40px 40px;
      }
    </style>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body data-theme="winter">
    <Header title={SITE_TITLE} />
    <main
      id="landing-home"
      class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 md:p-8 lg:p-16 mx-auto"
    >
      <div class="hero col-span-1 md:col-span-3 min-h-min lg:py-4 bg-neutral rounded-lg">
        <div class="hero-content flex-col lg:flex-row">
          <img
            src="https://avatars.githubusercontent.com/u/32291808?v=4"
            class="rounded-full shadow-2xl"
          />
          <div>
            <h1 class="text-5xl font-bold text-neutral-content">I am a <u>full stack developer</u> </h1>
            <p class="py-6 text-neutral-content">
              An experienced professional with nearly a decade of experience in
              developing and positioning services and products with a focus in
              agile development practices that have provided fast turnarounds in
              independent and collaborative contribution environments.
            </p>
            <a class="btn btn-primary" href="#about-section" >Learn More</a>
          </div>
        </div>
      </div>
      <div id="sidebar-content" class="md:col-span-1">
        <div id="about-section" class="">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            About Me
          </h5>
          <p class="text-justify">
            An experienced professional with nearly a decade of experience in
            developing and positioning services and products with a focus in
            agile development practices that have provided fast turnarounds in
            independent and collaborative contribution environments.
          </p>
        </div>
        <div id="contact-section">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            Contact
          </h5>
          <ul>
            <li class="flex justify-center items-center">
              <PhoneIcon
                className="bg-neutral text-white p-1.5 rounded-3xl mr-1"
                width={26}
                height={26}
              /> +91 7259619029
            </li>
            <li class="flex justify-center items-center">
              <EnvelopeIcon
                className="bg-neutral text-white p-1.5 rounded-3xl mr-1"
                width={26}
                height={26}
              />
              ayas.ping@gmail.com
            </li>
          </ul>
        </div>
        <div id="education-certifications" class="my-5">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            Education & Certifications
          </h5>
          <ul>
            <li>
              <h6 class="font-bold">B.E. Information Technology</h6>
              <p>Kalol Institute of Technology & Research Center</p>
            </li>
          </ul>
        </div>
      </div>
      <div id="main-content" class="md:col-span-2">
        <div id="relevant-experience">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            Relevant Experience
          </h5>
          <ul
					class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
				>
					{
						posts.map((orgData) => (
							<li>
								<div class="timeline-middle">
									<img
										class="timeline-icon timeline-icon-lg p-2"
										src={orgData.data.orgLogo}
										alt={orgData.data.company + " logo"}
									/>
								</div>
								<div class="timeline-start timeline-box md:text-end mb-10">
									<div class="text-lg font-black">
										{orgData.data.company}
									</div>
									<time class="font-mono italic">
										{orgData.data.startDate && (
											<FormattedDate
												date={orgData.data.startDate}
											/>
										)}
									</time>{" "}
									-{" "}
									<time class="font-mono italic">
										{orgData.data.endDate && (
											<FormattedDate
												date={orgData.data.endDate}
											/>
										)}
									</time>
									<p>{orgData.data.description}</p>
								</div>
								<hr />
							</li>
						))
					}
				</ul>
        </div>
      </div>
    </main>
    <Footer />
    <NetlifyIdentityResolver />
  </body>
</html>
