---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { PhoneIcon } from "@heroicons/react/24/outline";
import { EnvelopeIcon } from "@heroicons/react/24/solid";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import NetlifyIdentityResolver from "../components/NetlifyIdentityResolver";
import HomeContent from "../content/pages/home.yml";
import TypeWriter from "../components/TypeWriter";

console.log("HomeContent", HomeContent);

const posts = (await getCollection("experience")).sort(
  (a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf()
);
const {
  heroImage,
  blurb,
  cta,
  phoneNo,
  email,
  education_certifications,
  skills,
  hats
} = HomeContent;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #about-section {
      }
      #contact-section {
      }
      #education-certifications {
      }

      .section-title {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
      }

      #relevant-experience,
      #sidebar-content {
        background-image: repeating-linear-gradient(
          45deg,
          var(--fallback-b1, oklch(var(--b1))),
          var(--fallback-b1, oklch(var(--b1))) 13px,
          var(--fallback-b2, oklch(var(--b2))) 13px,
          var(--fallback-b2, oklch(var(--b2))) 14px
        );
        background-size: 40px 40px;
      }
    </style>
  </head>
  <body data-theme="winter">
    <Header title={SITE_TITLE} />
    <main
      id="landing-home"
      class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 md:p-8 lg:p-16 mx-auto"
    >
      <div
        class="hero col-span-1 md:col-span-3 min-h-min lg:py-4 bg-neutral rounded-lg"
      >
        <div class="hero-content flex-col lg:flex-row">
          <img src={heroImage} class="rounded-full shadow-2xl" />
          <div>
            <div class="text-xl md:text-5xl font-bold text-neutral-content">
              <TypeWriter
                textArray={hats.map((hat: { title: any; }) => hat.title)}
                backspace={true}
                prefix="I am a "
                suffix="  ."
                client:only="react"
              />
            </div>
            <p class="py-6 text-neutral-content">
              {blurb}
            </p>
            <a class={cta.className} href={cta.link}>{cta.label}</a>
          </div>
        </div>
      </div>
      <div id="sidebar-content" class="md:col-span-1">
        <div id="contact-section">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            Contact
          </h5>
          <ul>
            <li class="flex justify-center items-center">
              <a
                class="flex justify-center items-center"
                href={`tel:${phoneNo}`}
              >
                <PhoneIcon
                  className="bg-neutral text-white p-1.5 rounded-3xl mr-1"
                  width={26}
                  height={26}
                />
                {phoneNo}
              </a>
            </li>
            <li class="flex justify-center items-center">
              <a
                class="flex justify-center items-center"
                href=`mailto:${email}`
              >
                <EnvelopeIcon
                  className="bg-neutral text-white p-1.5 rounded-3xl mr-1"
                  width={26}
                  height={26}
                />
                {email}
              </a>
            </li>
          </ul>
        </div>
        <div id="education-certifications" class="my-5">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            Education & Certifications
          </h5>
          <ul>
            {
              education_certifications.map(
                (cert: {
                  title: string;
                  institution: string;
                  year: string;
                }) => (
                  <li>
                    <h5 class="font-bold">{cert.title}</h5>
                    <p>{cert.institution}</p>
                  </li>
                )
              )
            }
          </ul>
        </div>
        <div id="about-section" class="">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            Skills
          </h5>
          <ul>
            {
              skills.map((skillGroup: { title: unknown; items: any[]; }) => (
                <li class="mt-5">
                  <h5>{skillGroup.title}</h5>
                  <hr />
                  {skillGroup.items.map((skill: { title: unknown; }) => (
                    <span class="btn btn-xs">{skill.title}</span>
                  ))}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div id="main-content" class="md:col-span-2">
        <div id="relevant-experience">
          <h5 class="section-title text-center bg-neutral text-white p-1">
            Relevant Experience
          </h5>
          <ul
            class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
          >
            {
              posts.map((orgData) => (
                <li>
                  <div class="timeline-middle">
                    <img
                      class="timeline-icon timeline-icon-lg p-2"
                      src={orgData.data.orgLogo}
                      alt={orgData.data.company + " logo"}
                    />
                  </div>
                  <div class="timeline-start timeline-box md:text-end mb-10">
                    <div class="text-lg font-black">{orgData.data.company}</div>
                    <time class="font-mono italic">
                      {orgData.data.startDate && (
                        <FormattedDate date={orgData.data.startDate} />
                      )}
                    </time>{" "}
                    -{" "}
                    <time class="font-mono italic">
                      {orgData.data.endDate && (
                        <FormattedDate date={orgData.data.endDate} />
                      )}
                    </time>
                    <p>{orgData.data.description}</p>
                    <a
                      role="button"
                      class="btn btn-xs"
                      target="_blank"
                      href={`./experience/${orgData.slug}`}
                    >
                      details >
                    </a>
                  </div>
                  <hr />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </main>
    <Footer />
    <NetlifyIdentityResolver client:only="react" />
  </body>
</html>
